body{
    font-family: var(--global-font);
    padding: var(--min-padding);
    color: var(--text-color);
    line-break: normal;
    font-size: var(--m-size);

}
p,h1,h2,section,dd{
    margin-bottom: 1.5rem;
}
h1{
    font-size: var(--xxl-size);
    padding: 2rem 0 ;
}
h2{
    font-size: var(--xl-size);
    font-weight:700; 
}
h3{ 
    color: var(--text-black);
    font-size: var(--l-size);
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
dt{
    font-size: var(--m-size);
    font-weight: 700;
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
}
article, nav, main, footer{
max-width: 56rem;
min-width: 30rem;
}
img {
    width: 100%;
    height: auto;
  }
hr{
    border: 0.35rem solid var(--text-color);
    margin: 3rem 0;
    width: 50%;
}
th,
td {
  border: 0.1rem solid #cecfd5;
  padding: 0.3rem 0.5rem;
}
table{
    margin: 2rem 0;
}

.main-cell{
    font-weight: bold;
}
section, img {
    margin-bottom: 2rem;
}
figure{
    padding: 2rem 0;
}
.citation{
    padding: 1rem;
    background-color: #f1eeee;
}
figcaption{
    font-size: var(--s-size) ;
    font-weight: var(--weight-700);
}
caption{
    font-size: var(--l-size);
    padding-bottom: 1rem;
    caption-side: top;
    /*left / right not working */
}

footer{
    margin: 2rem 0;
    background-color:var(--text-color);
}
form {
    color: white;
}
legend{
    font-size: var(--l-mini-size);
    padding: 1rem 0;
}
.label-input-special {
    margin:0.2rem 0 1rem 0 ;
}
.label-input input,  textarea{
    margin:0.2rem 0 1rem 0;
}
input[type="submit"], input[type="reset"]{
    margin: 0 1rem 1rem 0 ;
}
em{
    font-style: italic;
    text-transform: uppercase;
}

  .marginalia__body{
    position: absolute;
    width: 8rem;
    font-size: var(--s-size);
  }
  .marginalia-and-text{
 padding : 0 0 0 12rem;

  }
/*  .marginalia__body {
    right: 100%;
    text-align: right;
  }  
  .marginalia__body--right {
    left: 100%;
    text-align: left;
  }
  */
  strong {

    
    font-weight: var(--weight-700);
    }



